.notion-callout {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1) !important;
    background: var(--color-white) !important;
    border-radius: 20px !important;
    align-items: center !important;
    position: relative !important;
    width: fit-content !important;
    max-width: 500px !important;
    padding: 20px 40px 40px 40px!important;
    border: none !important;
    text-align: center !important;
    align-self: center !important;
    align-content: center !important;
}

.notion-callout a {
    color: var(--color-text-default) !important;
    padding: 16px 12px 16px 30px !important;
    align-items: center !important;
    position: relative !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    display: flex !important;
    border: none !important;
    z-index: 2 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-callout__icon {
    text-align: center !important;
    position: absolute !important;
    display: none !important;
    position: re !important;
    float: right !important;
    top: 0px !important;
}

.notion-callout__icon img {
    object-fit: none !important;
}

.notion-column .notion-callout {
    margin: 0 -50px !important;
}

@media (max-width: 900px) {
    .notion-column .notion-callout {
        margin: 0 auto -8px !important;
    }
}

.notion-callout__content {
    margin: 0 auto !important;
}

.notion-callout h1 {
    letter-spacing: -1.5px !important;
    margin: 0 auto 8px !important;
    font-size: 36px !important;
}

.notion-callout .notion-callout {
    border-radius: 100px !important;
    width: fit-content !important;
    background: #000 !important;
    margin: 0 auto !important;
    color: #fff !important;
    padding: 0 !important;
}

.notion-callout .notion-callout a {
    padding: 12px 24px !important;
    display: block !important;
    opacity: 1 !important;
}

@media (max-width: 600px) {
    .notion-callout {
        padding: 24px !important;
    }
    .notion-callout .notion-heading {
        letter-spacing: -1px !important;
        font-size: 24px !important;
    }
}

.notion-column .notion-callout {
    margin: 0 -50px !important;
}