.notion-semantic-string .code {
    box-shadow: 0 10px 20px rgba(0,0,0,0.04) !important;
    background: var(--color-white) !important;
    display: inline-block !important;
    border-radius: 8px !important;
    padding: 12px 16px !important;
    font-size: 14px !important;
}
