.notion-header,
.notion-header__title-wrapper {
    margin: 0 !important;
}

.notion-header__icon-wrapper {
    border-radius: 20px !important;
    position: relative !important;
    overflow: hidden !important;
    margin: 0 auto !important;
    bottom: 30px !important;
    height: 80px !important;
    width: 80px !important;
    top: auto !important;
}

.notion-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh !important;
    max-height: 100vh !important;
}

.notion-header__cover {
    margin: 0;
    height: 100% !important;
    max-height: 100vh !important;
}

.notion-to-do {
    position: absolute !important;
    color: white !important;
    font-size: 0px !important;
    top: 33%;
}

.notion-to-do__icon {
    display: none !important;
}

.notion-to-do__children {
    max-width: 40%;
}