html,
body {
    font-family: roboto mono;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    -webkit-animation: fadeIn 1s !important;
    -moz-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
    text-align: center !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::selection {
    background: #eee !important;
}

.super-content {
    padding-bottom: 20px !important;
}

.max-width {
    max-width: 1200px !important;
}

.notion-divider {
    border-bottom: 1px solid var(--color-dividers) !important;
}

#page-index .notion-header__title {
    display: none !important;
}