:root {
    --color-text-default: #000 !important;
    --color-text-gray: #8f9ba8 !important;
    --color-text-default-light: #8f9ba8 !important;
    --color-bg-default: #f9fafe !important;
    --color-white: #fff !important;
    --color-dividers: #edeef3 !important;
    --navbar-height: 68px !important;
    --column-spacing: 80px !important;
    --transition: all .2s ease-in-out !important;
}
